#home-content {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    flex: 1;
    overflow-y: auto;
    margin-left: 80px;
    margin-right: 80px;
    font-family: 'General Sans';
}

.spacer {
    padding-top: 160px;
}

.bottom-spacer {
    padding-top: 80px;
}

#home-content {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    gap: 40px;
}

#home-left-column {
    flex: 1;
    display: flex;
    flex-direction: column;
}

#home-slideshow-container {
    position: relative;
    width: 100%;
    height: 300px;
    margin-bottom: 20px;
    overflow: hidden;
    border-radius: 10px;
}

.home-slide {
    position: absolute;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.home-slide.home-active {
    opacity: 1;
}

#home-dots {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
}

.home-dot {
    width: 10px;
    height: 10px;
    background-color: #ccc;
    border-radius: 50%;
    margin: 0 5px;
    cursor: pointer;
}

.home-dot.home-active {
    background-color: #333;
}

#home-left-column-text {
    margin-top: 20px;
}

#home-bold-text {
    font-size: 30px;
    font-weight: bold;
    margin-top: -25px;
    color: #A93442;
}

#home-non-bold-text {
    font-size: 12px;
}

#home-right-column {
    flex: 1;
    display: flex;
    flex-direction: column;
}

#home-shortcuts-text {
    font-size: 26px;
    font-weight: 600;
    margin-bottom: 5px;
}

#home-shortcut-boxes {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 10px;
}

.home-shortcut-box {
    display: flex;
    flex-direction:row;
    align-items: center;
    padding: 10px;
    background-color: #f9f9f9;
    border-radius: 10px;
    text-align: center;
    gap: 20px;
}

.home-shortcut-text-section {
    flex-direction: column;
    text-align: left;
    font-size: 14px;
}

.shortcutimg {
    width: 60px;
    height: 60px;
    background-color: #fac9d0;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    padding: 8px;
    margin-left: 10px;
}

.arrowimg {
    width: 40px;
    height: 40px;
    margin-left: auto;
    margin-right: 10px;
    padding: 8px;
}

.home-shortcut-name {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: -2px;
}

#home-user-info {
    margin-top: 20px;
    text-align: center;
}

#home-user-info h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

#home-user-info img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.user-name {
    margin-left: 10px;
    font-size: 14px;
    font-weight: 500;
    color: #f9f9f9;
    margin-bottom: -5px;
    text-transform: uppercase;
    margin-top: 5px;
}

.sign-out-button {
    background-color: #A93442;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 10px;
    margin-left: 10px;
    padding: 1px;
    width: 80px;
  }
  
  .sign-out-button:hover {
    background-color: darkred;
  }

  .profile-text {
    font-family: 'General Sans';
    flex-direction: row;
  }
  