.main-content5 {
  flex: 1;
  padding: 0px 120px 0px 120px;
  width: 100%;
  flex-wrap: nowrap;
  gap: 20px;
  font-family: "General Sans";
  padding-bottom: 120px;
}


.update-title {
  color: #A93644;
  font-family: "General Sans";
  font-weight: 700;
  font-size: 28px;
  text-align: left;
  margin-left: 0px;
  margin-bottom: -5px;
}

.event-item2 {
  display: flex;
  flex-direction: row;
  gap: 20px;
  color: #343a40;
}

.event-item3 {
  display: flex;
  flex-direction: row;
  gap: 20px;
  color: #343a40;
  margin-right: 0%;
}

.sorting-container2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: -5px;
  padding: 10px 0;
  margin-right: 7%;
}

.sorting-container3 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: -5px;
  padding: 10px 0;
}

.navbar-container-event2 {
  display: flex;
  margin-top: 18px;
  margin-bottom: 8px;
  border-radius: 10px;
  padding: 10px;
  border: 1px solid #cacdd4;
  margin-right: 6%;
}

.form-container {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 100%;
  margin-top: 10px;
}

.form-row {
  display: flex;
  gap: 15px;
}

.form-column {
  display: flex;
  flex-direction: column;
  gap: 15px;
  flex: 1;
}

.form-group {
  display: flex;
  flex-direction: column;
}

.form-group label {
  font-size: 16px;
  margin-bottom: 5px;
  font-family: "General Sans";
  font-weight: 500;
}

.form-group input,
.form-group textarea {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-family: "General Sans";
}

.form-group textarea {
  height: 150px;
}

.form-group input[type="file"] {
  padding: 5px;
}

.preview-image {
  width: 50px; 
  height: auto;
  margin-top: -5px;
  margin-bottom: 3px;
}

.preview-image2 {
  min-width: 200px;
  height: auto;
  margin-bottom: 10px;
  object-fit: cover;
}

.form-row.small {
  flex-basis: 30%; 
}

.form-row.large {
  flex-basis: 70%; 
}

.form-group-inline {
  display: flex;
  gap: 15px;
}

.form-group-inline .form-group {
  flex: 1;
}

.update-button {
  padding: 10px 20px;
  font-size: 16px;
  color: #fff;
  background-color: #A72837;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-family: "General Sans";
}

.update-button:hover {
  background-color: #871D2C;
}

.updateEvent-button {
  display: flex; 
  align-items: center;
  justify-content: center; 
  gap: 5px; 
  padding: 10px 20px;
  font-size: 16px;
  color: #fff;
  background-color: #A72837;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-family: "General Sans";
  font-size: 15px;
  height: fit-content;
}

.updateEvent-button:hover {
  background-color: #871D2C;
}

.deleteEvent-button {
  display: flex; 
  align-items: center;
  justify-content: center; 
  gap: 5px; 
  padding: 10px 20px;
  font-size: 16px;
  color: #fff;
  background-color: #2A2E3A;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-family: "General Sans";
  font-size: 15px;
  height: fit-content;
}

.deleteEvent-button:hover {
  background-color: #17191f;
}

.editEvent-button {
  display: flex; 
  align-items: center;
  justify-content: center; 
  gap: 5px; 
  padding: 10px 20px;
  font-size: 16px;
  color: #fff;
  background-color: #A72837;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-family: "General Sans";
  font-size: 15px;
  height: fit-content;
}

.editEvent-button:hover {
  background-color: darkred;
}

.addEvent-button {
  display: flex; 
  align-items: center;
  justify-content: center; 
  gap: 5px; 
  padding: 10px 20px;
  font-size: 16px;
  color: #fff;
  background-color: #A72837;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-family: "General Sans";
  font-size: 15px;
}

.iconss {
  width: 20px;
  height: 20px;
}

.addEvent-button:hover {
  background-color: #871D2C;
}

.addOfficer-button {
  display: flex; 
  align-items: center;
  justify-content: center; 
  gap: 5px; 
  padding: 10px 20px;
  font-size: 16px;
  color: #fff;
  background-color: #A72837;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-family: "General Sans";
  font-size: 15px;
}

.addOfficer-button:hover {
  background-color: #871D2C;
}

.deleteOfficer-button {
  display: flex; 
  align-items: center;
  justify-content: center; 
  gap: 5px; 
  padding: 10px 20px;
  font-size: 16px;
  color: #fff;
  background-color: #2A2E3A;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-family: "General Sans";
  font-size: 15px;
  height: fit-content;
}

.deleteOfficer-button:hover {
  background-color: #17191f;
}

.editOfficer-button {
  display: flex; 
  align-items: center;
  justify-content: center; 
  gap: 5px; 
  padding: 10px 20px;
  font-size: 16px;
  color: #fff;
  background-color: #A72837;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-family: "General Sans";
  font-size: 15px;
}

.editOfficer-button:hover {
  background-color: #871D2C;
}

.dialog-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); 
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2000; 
}

.dialog-content {
  background-color: white;
  padding: 30px; 
  border-radius: 8px;
  max-width: 50%;
  max-height: 85%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  margin-bottom: 30px; 
  overflow: auto; 
}

.dialog-content h2 {
  margin-bottom: 10px;
}

.dialog-content label {
  display: block;
  margin-bottom: 5px;
}

.dialog-content input,
.dialog-content textarea {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
}

.dialog-content button {
  padding: 8px 16px;
  margin-top: 10px;
  background-color: #A72837;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
}

.dialog-content button:hover {
  background-color: darkred;
}

.preview-image-event {
  width: 300px;
  height: 200px;
  object-fit: cover;
  margin-top: 10px;
  margin-bottom: 50px;
}

.event-view-button {
  min-width: fit-content;
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center; 
}

.form-container-images {
  display: flex;
  gap: 40px;
}

.events-container2 {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 100%; 
}

.update-button {
  background-color: #A72837;
}

.cancel-button {
  background-color: #A72837;
}